* {
    box-sizing: border-box;
    }
    .container_one {
    display: flex;
    justify-content:space-around;

    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 209, 209);
    width: 1100px;
    height: 100px;
    border-radius: 5px;
    }
    .container_one_priority {
    margin-right: 40px;
    }
    #container_one_priority__text {
    margin-bottom: 10px;
    color: rgb(134, 131, 131);
    }
    #container_one_priority__list {
    width: 180px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 5px;
    }
    .container_one_text {
    margin-right: 40px;
    }
    .container_one_text__task {
    margin-bottom: 10px;
    color: rgb(134, 131, 131);
    }
    #container_one_text__field {
    width: 500px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 5px;
    }
    .container_one_button{
    padding-top: 40px;
    }
    .container_one_button_click{
    color: aliceblue;
    background-color: rgb(58, 160, 55);
    border:rgb(58, 160, 55);
    border-radius: 5px;
    width: 200px;
    height: 20px;
    }
    .container_two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 209, 209);
    width: 1100px;
    height: 150px;
    border-radius: 5px;
    }
    .container_two_oneStr {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    padding-top: 20px;
    }
    .container_two_oneStr_textFilterPriority{
    margin-right: 40px;
    }
    #container_two_filterPriority{
    width: 180px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 5px;
    margin-right: 40px;
    }
    .container_two_oneStr_textFilterStatus{
    margin-right: 40px;
    }
    .container_two_twoStr {
    align-items: center;
    height: 20px;
    display: flex;
    flex-direction: row;
    }
    .container_two_twoStr_textSortDate {
    margin-right: 40px;
    }
    #container_two_twoStr_SortDate {
    width: 180px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 5px;
    margin-right: 40px;
    }
    .container_two_twoStr_textSortStatus {
    margin-right: 40px;
    }
    #container_two_twoStr_SortStatus {
    width: 180px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 5px;
    }
    .container_two_threeStr {
    align-items: center;
    height: 20px;
    display: flex;
    flex-direction: row;
    }
    .container_two_threeStr_textSearch {
    margin-right: 40px;
    }
    #container_two_threeStr_Search {
    width: 500px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 5px;
    }
    .container_three {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 209, 209);
    width: 1100px;
    height: 450px;
    border-radius: 5px;
    }
    .container_three_output {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    }
    .container_three_checkbox {
    display: inline-block;
    }
    .container_three__priority {
    width: 200px;
    text-align: center;
    display: inline-block;
    color: rgb(199, 144, 56);
    }
    .container_three__canceledPriority {
    width: 200px;
    text-align: center;
    display: inline-block;
    color:rgb(180, 84, 73);
    }
    .container_three__completePriority {
    width: 200px;
    text-align: center;
    display: inline-block;
    color: rgb(65, 137, 73);
    }
    .container_three__task {
    width: 650px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    }
    .container_three__green {
    width: 650px;
    background-color: rgba(115, 211, 123, 0.637);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    }
    .container_three__canceledTask {
     width: 650px;
    background-color: rgba(245, 117, 103, 0.812);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    }

    .container_three__white {
        
    }
    .container_none {
        display: none;
    }
    .container_three__textData {
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
    }
    .container_three__icons {
    padding-right: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    #container_three__newText {
    display: none;
    }
    .container_three__removal {
    width: 45px;
    height: 120%;
    text-align: center;
    display: inline-block;
    }
    .container_three__removal__icon{
    width: 32px;
    height: 25px;
    }
    .container_canceled__icon {
    width: 12px;
    height: 12px;
    }
    .container_completed__icon {
    width: 16px;
    height: 20px;
    }