* {
    box-sizing: border-box;
    }
    .container_one {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 209, 209);
    width: 1100px;
    height: 100px;
    border-radius: 5px;
    }
    .container_one_priority {
    margin-right: 40px;
    }
    #container_one_priority__text {
    margin-bottom: 10px;
    color: rgb(134, 131, 131);
    }
    #container_one_priority__list {
    border: 1px solid rgb(134, 131, 131);
    border-radius: 5px;
    }
    .container_one_text {
    margin-right: 40px;
    }
    .container_one_text__task {
    margin-bottom: 10px;
    color: rgb(134, 131, 131);
    }
    #container_one_text__field {
    border: 1px solid rgb(134, 131, 131);
    border-radius: 5px;
    }
    .container_one_button{
    padding-top: 24px;
    }
    .container_one_button_click{
    color: aliceblue;
    background-color: rgb(58, 160, 55);
    border:rgb(58, 160, 55);
    border-radius: 5px;
    width: 200px;
    height: 20px;
    }
    .container_two {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 209, 209);
    width: 1100px;
    height: 200px;
    border-radius: 5px;
    }
    
    .container_three {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 209, 209);
    width: 1100px;
    height: 450px;
    border-radius: 5px;
    }
    .container_three_output {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    margin-bottom: 20px;
    }
    .container_three_checkbox {
    display: inline-block;
    }
    .container_three__priority {
    width: 200px;
    text-align: center;
    display: inline-block;
    }
    .container_three__text {
    width: 600px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    }
    #container_three__newText {
    display: none;
    }
    .container_three__removal {
    width: 45px;
    height: 120%;
    text-align: center;
    display: inline-block;
    }
    img {
    width: 32px;
    height: 25px;
    }